<!DOCTYPE html>
<head>

    
  <% if (environment=='development') { %>
    <%- include('../renderedCss/cssHref.ejs') %>
    <% } %>

   

    <% if (environment=='cordova') { %>
      <%- include('../renderedCssCordova/cssHref.ejs') %>
    <% } %>
</head>
<body>

    <p>Not session found</p>
    <p id="redirectMessage" style="color:orange"></p>

    <% if (environment=='development') { %>
      <%- include('../renderedHead/head.ejs') %>
      <% } %>
  
      <% if (environment=='production') { %>
        <%- include('../renderedHeadProduction/head.ejs') %>
      <% } %>

      <% if (environment=='cordova') { %>
        <%- include('../renderedHeadCordova/head.ejs') %>
      <% } %>
    
</body>
</html>