
<!DOCTYPE html>
<head>
   
  <% if (environment=='development') { %>
    <%- include('../renderedCss/cssHref.ejs') %>
    <% } %>

   

    <% if (environment=='cordova') { %>
      <%- include('../renderedCssCordova/cssHref.ejs') %>
    <% } %>
</head>
<style>
  
  
</style>
<body>
    
    <button id="goToLogin"> Login </button>
    <button id="goToSignUp"> SignUp </button>
    <div class="headerProviders">
      <div  class="providers">PROVIDERS</div>
      
          <div class = "providerEmail">
            <div class = "providerEmail-container">
              <div class = "providerEmailTitle">
                EMAIL
              </div>
              <div class="providerEmailNodemailer">
                <img src="/public/img/logosProviders/nodeMailer_logo.png">
              </div>
            </div>  
            
        </div>
        <div class = "providerSms">
          <div class="providerSmsTitle">
            SMS
          </div>
        </div>

      </div>
    </div>
    
    <div class="listProvidersContainer">
      <div class="listProvidersContainer-email">


        <div class = "imgProvider">
          
          <img src="/public/img/logosProviders/aol.jpg">
        
        </div>

        <div class = "imgProvider">
          
          <img src="/public/img/logosProviders/debugMail.jpg">
        
        </div>

        <div class = "imgProvider">
          
          <img src="/public/img/logosProviders/dyn.jpg">
        
        </div>

        <div class = "imgProvider">
          
          <img src="/public/img/logosProviders/ionos.jpg">
        
        </div>

      </div>
      <div style="height:100px;">
       



      </div>
      <div class="listProvidersContainer-sms">
          
          <div style="margin:0 auto;width:20%;">
            <div class = "imgProvider" style="width:150%;">
            
              <img src="/public/img/logosProviders/labsMobile_logo.png">
            
            </div>
          </div>
          <!--
          -->

      </div>
    </div>
    
    <div style="height:800px;width:50%;float:left;">
      
    </div>

    <% if (environment=='development') { %>
      <%- include('../renderedHead/head.ejs') %>
      <% } %>
  
      <% if (environment=='production') { %>
        <%- include('../renderedHeadProduction/head.ejs') %>
      <% } %>

      <% if (environment=='cordova') { %>
        <%- include('../renderedHeadCordova/head.ejs') %>
      <% } %>
    
</body>
</html>